body{
display: grid;
grid-template-columns: 100%;
grid-template-areas:"header "
            "nav"
            "main "
            "footer ";
}

.header {
  grid-area: header;
  align-items: center;

 }

.nav {
  grid-area: nav;
  background-color: #FFFFFF;
  height: 30px;
 }
 .main{
  grid-area: main;

 }
.footer{
  grid-area: footer;
  display: grid;
  grid-template-columns:repeat(6, 1fr) ;
  background-color: #BAACAC;
}

.footer img{
  grid-row: 1;
  grid-column: 3;
  height:150px;
  width: 150px;

}
.footer article{
  grid-row: 1;
  grid-column: 4;
  border: solid;
  border-radius: 5px;
  background-color: #D9D9D9;
  height:204px;
  width: 100px;
}
.nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr) ;

}
.nav .nav-item{
list-style-type:none;
font-size: large;
font-family:Arial, Helvetica, sans-serif;
font-style:normal
}
 article .banner{
  background-color: #495E57;
  height: 100px;
}




@media (min-width: 500px) {
  body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:"header header header"
                 "nav nav nav "
                "main main main"
                "footer footer footer "
                ;
    }
    .header {
      display: grid;
      grid-area: header;
      align-items: center;
     }
    .nav {
      grid-area: nav;
      background-color: #FFFFFF;
     }
     .main{
      grid-area: main;
     }
    .footer{
      grid-area: footer;
    }
    .nav {
      display:grid;
      
    }
    .nav .nav-item{
    text-decoration:none;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal
    }

    .banner{
      background-color: #495E57;
      height: 150px;
      display: grid;
     }
     article .img {
      grid-row: 1;
      grid-column:2 ;
      padding-left: 200px;
    }
    article .present{
      grid-row: 1;
      grid-column: 1;
    }
    article .present h3{
      color: #F4CE14;
      text-align: center;
    }
    article .present p{
      color: #FFFFFF;
      text-align: center;
    }
    article .present h5 {
      background-color:#F4CE14; 
      color: #FFFFFF;
      border: solid;
      border-radius: 2px;
      border: #495E57;
      text-align: center;
    }


    .dishes{
      display: grid ;
      grid-template-columns: repeat(3, 1fr) ;
    }

    .dishes article {
      border: solid;
      border-radius: 2%;
      border-color: #495E57;
      background-color:#EDEFEE;
      width: 300px;
      height: 320px;
      justify-content: center;
      margin: auto;
    }

    .specialmessage {
      display: grid;
      border-color: #495E57;
      width: 1100px;
      height:60px ;
      border-radius: 10px;
      margin: auto;
    }
    .specialmessage button{
     grid-row: 1;
     grid-column: 10;
     background-color: #F4CE14;
     color: #EDEFEE;
     border-radius: 2px;
     border:#495E57;
     height:60px ;
    }
    .specialmessage h4{
      grid-row: 1;
      grid-column: 1;
     }
    .price{
      display: grid;
    }
    .price h5{
      grid-row: 1;
      grid-column: 2;
    }

    .price p{
      grid-row: 1;
      grid-column: 5;
      color: #EC5132;
    }
article button{
margin-left: 80px;
background-color:#F4CE14;
color: #EDEFEE;
border: #495E57;
border-radius: 5px;
}
.testimonials{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ; ;
  height: 300px;
  background-color: #495E57;
}
.testimonials article{
  height: 150px;
  width: 150px;
  background-color: #D9D9D9;
  margin: auto;
}
.testimonials p {
  text-align: center;
}

.footer section{
  height: 50px;
  width: 150px;
  background-color: #D9D9D9;
}
 h1{
  color: #F4CE14;
  text-align: center;
}
}